<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
<!--要想跳转到这，能直接跳，不能，为什么呢？
因为web ino下面的内容你通过浏览器是不能直接访问的，我们通过重定向也是不能访问的，那我们现在只能通过转发来进行访问，
就算是咱们把这个页面给放到web APP下，咱们能直接访问吗？也不能，因为我们当前，然后我们所使用的是Thymeleaf，
所以说我们的页面中就很有可能会存在Thymeleaf的语法，而Thymeleaf的语法是要被Thymeleaf进行解析的。
所以说呢，我们现在必须要通过我们当前所配置的视图解析器，然后来解析我们当前的视图，
也就是说如果我们要想往这儿跳的话，那我们最终来设置我们要跳转的页面，咱们需要把这完整的路径给写上吗？
不需要，我们只需要干什么呢？咱们只需要来写一个index就行，为什么？因为我们试图是要被试图解析器解析的，
而我们怎么解析呢？是要在我们所设置的视图前面加上前缀，在视图后边来加上后缀的，所以说我们最终咱们的一个视图就是我们的index，
这个大家一定要注意-->
<h1>首页</h1>
<!--
以/开头的路径称为绝对路径
而绝对路径又分为浏览器解析的和服务器解析的。那浏览器解析的，比如说超链接中所写的绝对路径就是由浏览器解析的，那这个时候咱们的这个斜线，
它表示的是从上下文路径下访问吗？不是，他表示的是从localhost:8080访问，所以说少一个上下文径，那怎么办？咱们可以在这儿用相对路径，
但是相对路径不太好使。然后呢，我们在这就用绝对，那他少一个上下文路径，咱们就可以直接把上下文路径给他加上，大家知道谁是上下文路径吗？
就是我们在配置Tomcat的时候，咱们的这个位置就是上下文路径，所以说呢，我们只要把它加上就可以了，但是呢，
大家也能看到咱们的上下文路径能改不能可以改，那可以改，那我们是不是就不能写死呀，你要是在这写死了，那我们以后咱们是不是每改一次，
那咱们这个地方是不是就得手动去。对吧，那怎么办呢？大家注意，那我们就可以来使用咱们的Thymeleaf了啊。怎么来用？
首先我们的页面里面的HTML标签中必须得有咱们的这个Thymeleaf的一个命名空间（<html lang="en" xmlns:th="http://www.thymeleaf.org">）
，有了之后我们就可以来使用的语法了
-->
<a th:href="@{/target}">访问目标页面target.html</a>
</body>
</html>